<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="customTCP" closeTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8009/MonCFService"
                binding="netTcpBinding"
                bindingConfiguration="customTCP"
                contract="MonCF.Contracts.Services.ISimpleDataService"/>
    </client>
  </system.serviceModel>
</configuration>